.header_contain{
    /* width: 320px; */
    padding: 0 2rem;
    justify-content: space-around;
    display: flex;
}

.side{
    position: fixed;
    width: 300px;
    top: 60px;
    height: calc(100vh - 60px);
    background-color: rgb(141, 141, 145);
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
}

.mdeditor{
    width: 1832px;
}